<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tkeron</title>
    <script>
      const a = 123;
      const b = 0;
      // document.head.appendChild(undefined);
      // throw "custom error 1";
    </script>
    <script src="myscripts.js"></script>
    <script>
      const c = a / b;
      const d = 123;
      // document.head.appendChild(undefined);
      throw "custom error 2";
    </script>
  </head>
  <body></body>
</html>
